<template>
    <div class="header">
        <div class="header-navigation">
            <div class="navigation">APPAREL <img src="@/images/icons/arrow.svg" alt=""></div>
            <div class="navigation">MUSIC <img src="@/images/icons/arrow.svg" alt=""></div>
            <div class="navigation">COLLECTIONS <img src="@/images/icons/arrow.svg" alt=""></div>
            <div class="navigation">ACCESSORIES</div>
        </div>
        <div class="header-logo-container">
            <img src="@/images/content/logo.png" alt="" @click="refreshPage">
        </div>
        <div class="burger-menu">
            <img src="@/images/icons/burger.svg" alt="">
        </div>
    </div>
</template>
<script>
export default {
    methods: {
        refreshPage() {
            location.reload();
        }
    }
}
</script>
<style scoped>
    .header{
        width: 100%;
        padding: 0 172px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background: #EE769A;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .header-navigation{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 31px;
    }
    .navigation{
        color: #EEE;
        font-size: 20px;
        font-style: normal;
        line-height: normal;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
    }
    .header-logo-container{
        width: 296px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
    }
    .header-logo-container img{
        cursor: pointer;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 15px;
        left: 0;

    }
    .burger-menu{
        position: absolute;
        bottom: -58px;
        left: 18px;
        display: none;
    }
    @media (max-width: 1650px) {
        .header{
            padding: 0 80px;
        }
    }
    @media (max-width: 1050px) {
        .header-navigation{
            display: none;
        }
        .burger-menu{
            display: flex;
        }
        .header{
            width: 100%;
            padding: 0 20px;
            justify-content: center;
        }
    }
</style>