@font-face {
    font-family: 'Hiragino Mincho Pro W6';
    src: local('Hiragino Mincho Pro W6'), url('@/fonts/Hiragino Mincho Pro W6.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    user-select: none;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: auto;
}

html {
    font-size: 16px;
    -webkit-text-size-adjust: none;
    font-family: 'Hiragino Mincho Pro W6';
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
  
a {
    text-decoration: none;
}

img{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button, input{
    outline: none !important;
}