<template>
    <div class="contact">
        <div class="social-media">
            <img src="@/images/icons/facebook.svg" alt="">
            <img src="@/images/icons/twiter.svg" alt="">
            <img src="@/images/icons/instagram.svg" alt="">
            <img src="@/images/icons/youtube.svg" alt="">
            <img src="@/images/icons/apple.svg" alt="">
            <img src="@/images/icons/spotify.svg" alt="">
        </div>
        <div class="policy">Ⓒ 2023 BLACKPINK | SHOP. All Rights Reserved.</div>
        <div class="info">
            <div class="info-nav">Help</div>
            <div class="hr">|</div>
            <div class="info-nav"> Terms </div>
            <div class="hr">|</div>
            <div class="info-nav"> Privacy </div>
            <div class="hr">|</div>
            <div class="info-nav"> Do Not Sell My Personal Information </div>
            <div class="hr">|</div>
            <div class="info-nav"> Cookie Choices</div>
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>
    .contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 71px;
        padding-bottom: 350px;
    }
    .social-media{
        display: flex;
        align-items: center;
        gap: 67px;
    }
    .social-media>img{
        width: 45px;
        height: 45px;
        cursor: pointer;
    }
    .policy{
        color: #EE769A;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .info{
        display: flex;
        align-items: center;
        flex-direction: row;

        color: #EE769A;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .hr{
        margin: 0 10px;
    }
    @media (max-width: 875px) {
        .social-media>img{
            width: 35px;
            height: 35px;
        }
        .info, .policy{
            font-size: 15px;
        }
        .social-media{
            gap: 40px;
        }

    }
     @media (max-width: 600px) {
        .social-media>img{
            width: 15px;
            height: 15px;
        }
        .info, .policy{
            font-size: 10px;
        }
        .social-media{
            gap: 20px;
        }

    }
</style>