<template>
  <div class="contact-us">
    <img src="@/images/content/box.png" alt="" class="box">
    <img src="@/images/content/Lisa-4.png" alt="" class="Lisa-4">
    <div class="title">Porem ipsum dolor sit amet, consectetur</div>
    <div class="contact">
      <div class="contact-title">Porem ipsum</div>
      <div class="contact-label">
        <div class="name">Name</div>
        <input type="text">
      </div>
      <div class="contact-label bottom">
        <div class="name">Phone</div>
        <input type="text">
      </div>
      <a href="https://www.google.com" target="_blank">Porem ipsum</a>
      <div class="discount-block"> Discount !<br>
        ₱ 3.980 <br>
        ₱ 1.990</div>
    </div>
    <img src="@/images/content/pack.png" alt="" class="pack">
    <img src="@/images/content/Lisa-5.png" alt="" class="Lisa-5">
    <div class="timer">
      <div class="timer-date">Скидка действительна до 10.09.2023</div>
      <div class="timer-time">Закончится через: <span id="countdown"></span></div>
    </div>
  </div>
</template>
<script>
  export default {
    mounted() {
        const endDate = new Date();
        endDate.setDate(endDate.getDate() + 2);
        endDate.setHours(48, 0, 0, 0);

        const x = setInterval(function () {
        const now = new Date().getTime();

        const timeLeft = endDate - now;

        const hours = String(Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60))).padStart(2, '0');
        const minutes = String(Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60))).padStart(2, '0');
        const seconds = String(Math.floor((timeLeft % (1000 * 60)) / 1000)).padStart(2, '0');

        const countdownElement = document.getElementById("countdown");
        countdownElement.textContent = `${hours}:${minutes}:${seconds}`;

        if (timeLeft < 0) {
            clearInterval(x);
            countdownElement.textContent = "Время истекло";
        }
        }, 1000);
    },
  };

</script>
<style scoped>
  .contact-us {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .Lisa-4 {
    position: absolute;
    top: 220px;
    left: -100px;
    width: 799px;
    height: 999px;
    flex-shrink: 0;
    z-index: 5;
  }

  .Lisa-5 {
    position: absolute;
    top: 320px;
    right: 0px;
    width: 718px;
    height: 897px;
    flex-shrink: 0;
    z-index: 5;
  }

  .box {
    width: 657px;
    height: 1166px;
    flex-shrink: 0;
    position: absolute;
    z-index: -1;
    top: -40px;
    left: 75px;
  }

  .pack {
    width: 263px;
    height: 1193px;
    flex-shrink: 0;
    position: absolute;
    z-index: -1;
    top: -100px;
    right: 90px;
  }

  .title {
    color: #3F3F3F;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 55px
  }

  .contact {
    width: 55%;
    flex-shrink: 0;
    border-radius: 56.248px;
    background: #FF9FB8;
    box-shadow: 41.3587px 41.3587px 206.79346px 0px #BB6780 inset, -41.3587px -41.3587px 206.79346px 0px #BB6780 inset;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 47.15px 121px 107px 121px;
    align-items: center;
    margin-bottom: 22px;
  }

  .contact-title {
    color: #363636;
    font-size: 52.939px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 60px;
  }

  .contact-label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 40px;
  }

  .contact-label.bottom {
    margin-bottom: 141px;
  }

  .contact-label .name {
    color: #3F3F3F;
    font-size: 26.47px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .contact-label input {
    background: #FFF;
    box-shadow: 3.3087px 3.3087px 3.3087px 0px rgba(0, 0, 0, 0.25) inset;
    outline: none;
    height: 75.273px;
    border: none;
    color: #3F3F3F;
    font-size: 26.47px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .contact a {
    width: 100%;
    height: 80px;
    flex-shrink: 0;
    border-radius: 57.902px;
    background: #000;
    box-shadow: 3.3087px 3.3087px 3.3087px 0px rgba(0, 0, 0, 0.25) inset;

    color: #E2E2E2;
    font-size: 26.47px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
    position: relative;
    z-index: 6;
  }

  .timer-date {
    color: #3A3A3A;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  .timer-time {
    color: #484848;
    text-align: center;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }

  .timer-time span {
    color: #FF77A0;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }

  .discount-block {
    width: 342px;
    height: 253px;
    transform: rotate(10.861deg);
    flex-shrink: 0;
    border-radius: 76px;
    background: #491826;
    box-shadow: 6px 11px 18px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 25px;
    right: -135px;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transform: rotate(7.582deg);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 1650px) {
    .Lisa-4 {
      display: none;
    }

    .Lisa-5 {
      display: none;
    }
  }

  @media (max-width: 1235px) {
    .discount-block {
        bottom: 0;
        right: 0;
    }

    .title {
      display: none;
    }

    .contact {
      width: 90%;
      padding: 27px 39px 67px 39px;
      margin-bottom: 100px;
    }
  }

  @media (max-width: 875px) {
    .discount-block {
        bottom: -90px;
        right: calc(50% - 80px);
        top: initial;
        font-size: 22.032px;
        width: 161.569px;
        height: 120.718px;
        border-radius: 34.884px;
        z-index: 6;
    }
    .box {
      display: none;
    }

    .pack {
      width: 150px;
      height: 705px;
      flex-shrink: 0;
      position: absolute;
      z-index: 4;
      top: initial;
      bottom: -190px;
      right: 0px;
    }

    .timer {
      justify-content: flex-start;
      align-items: flex-start;
      gap: 15px;
    }

    .timer-date {
      padding-left: 10px;
      width: 50%;
      font-size: 32px;
    }

    .timer-time {
      padding-left: 10px;
      font-size: 32px;
    }

    .timer-time span {
      font-size: 32px;
    }

    .contact-label .name {
      width: 100%;
      text-align: center;
    }
  }

  @media (max-width: 600px) {
    .contact-title {
      font-size: 32px;
      margin-bottom: 8px;
    }

    .pack {
      width: 90px;
      height: 405px;
      flex-shrink: 0;
      position: absolute;
      z-index: 4;
      top: initial;
      bottom: -100px;
      right: 0px;
    }

    .timer-date {
      width: 240px;
      font-size: 24px;
    }

    .timer-time {
      font-size: 24px;
    }

    .timer-time span {
      font-size: 24px;
    }
    .contact {
        width: 80%;
    }

    .contact a {
      font-size: 24px;
    }

    .contact-label.bottom {
      margin-bottom: 45px;
    }
    .contact-label input{
        height: 45px;
    }
  }

</style>
