<template>
  <div class="logo-big">
    <img src="@/images/content/Blackpink-born-pink.png" alt="">
  </div>
</template>
<script>
  export default {

  }

</script>
<style scoped>
  .logo-big {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-big img {
    width: 1231px;
    height: 693px;
    flex-shrink: 0;
  }

  @media (max-width: 1235px) {
    .logo-big img {
      width: 100%;
      height: auto;
      flex-shrink: 0;
    }
  }

</style>
