<template>
  <div class="main">
    <img src="@/images/content/pink-fangs.png" alt="" class="fangs">
    <div class="lisa-1">
      <img src="@/images/content/Lisa.png" alt="">
    </div>
    <div class="lisa-1-info">
      <div class="title">Borem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      <div class="description">Porem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit
        interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos.</div>
      <a href="https://www.google.com" target="_blank">Horem</a>
    </div>
  </div>
</template>
<script>
  export default {

  }

</script>
<style scoped>
  .main {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 153px 0 153px;
    gap: 123px;
  }

  .main .fangs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 952px;
    z-index: 1;
  }

  .lisa-1 {
    position: relative;
    z-index: 2;
    height: 952px;
    width: 757px;
  }

  .lisa-1 img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .lisa-1-info {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }

  .title {
    color: #3F3F3F;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 25px;
  }

  .description {
    color: #3F3F3F;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 85px;
    line-height: 120%;
  }

  a {
    display: flex;
    width: 443px;
    height: 143px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #FF9FB8;
    box-shadow: 20px 20px 80px 0px #BB6780 inset, -20px -20px 80px 0px #BB6780 inset;

    color: #3F3F3F;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }

  @media (max-width: 1650px) {
    .main {
      padding: 80px 70px 0 70px;
    }
  }


  @media (max-width: 1235px) {
    .main {
      flex-direction: column;
      padding: 10px;
      gap: 18px;
      margin-bottom: 33.21px;
    }

    .lisa-1-info {
      width: 100%;
    }

    .title {
      width: 100%;
    }

    .description {
      width: 100%;

    }

    a {
      width: 100%;
      display: flex;
      padding: 14.791px 0;
      height: auto;
    }
  }

  @media (max-width: 875px) {
    .main {
      flex-direction: column;
      padding: 10px;
      padding-top: 80px;
      margin-bottom: 33.21px;
    }

    .main .fangs {
      width: 100%;
      height: 400px;
    }

    .lisa-1 {
      position: relative;
      z-index: 2;
      height: 700px;
      width: 300px;
    }

    .title {
      font-size: 40px;
      margin-bottom: 15px;
    }

    .description {
      font-size: 24px;
      margin-bottom: 20px;
    }

    a {
      font-size: 24px;
    }
  }

  @media (max-width: 600px) {
    .main {
      padding-top: 100px;
    }

    .main .fangs {
      width: 100%;
      height: 250px;
    }

    .lisa-1 {
      position: relative;
      z-index: 2;
      width: 212.767px;
      height: 271.791px;
    }

    .title {
      font-size: 24px;
    }

    .description {
      font-size: 16px;
    }

    a {
      font-size: 32px;
      color: #3F3F3F;
    }
  }

</style>
