<template>
  <div class="second">
    <div class="second-info">
      <div class="title">Borem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      <div class="description">Porem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit
        interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos.</div>
      <div class="description">Porem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit
        interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos.</div>
    </div>
    <div class="second-image-container">
      <img src="@/images/content/pack.png" class="pack">
      <img src="@/images/content/Lisa-2.png" class="lisa">
    </div>
  </div>
</template>
<script>
  export default {

  }

</script>
<style scoped>
  .second {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 172px;
    gap: 35px;
    margin-bottom: 174px;
  }

  .second-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    color: #3F3F3F;
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .description {
    color: #3F3F3F;
    font-size: 37px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
  }

  .second-image-container {
    width: 50%;
    height: 1080px;
    background: #FF9FB8;
    position: relative;
    overflow: hidden;
  }

  .second-image-container::before {
    content: '';
    position: absolute;
    top: -90px;
    right: -350px;

    width: 688px;
    height: 1221px;
    background: url(@/images/content/box.png) center no-repeat;
    background-size: 105%;
  }

  .pack {
    width: 263px;
    height: 1193px;
    position: relative;
    z-index: 3;
  }

  .lisa {
    width: 850px;
    height: 980px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
  }

  @media (max-width: 1650px) {
    .second {
      padding-left: 70px;
    }
  }

  @media (max-width: 1235px) {
    .second {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      gap: 8px;
      padding-left: 0;
      margin: 0;
    }

    .second-info {
      width: 98%;
      height: auto;
      padding: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-bottom: 60px;
    }

    .title {
      color: #3F3F3F;
      font-size: 74px;
      font-style: normal;
      font-weight: 500;
      margin-bottom: 16px;
    }

    .description {
      color: #3F3F3F;
      font-size: 37px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 16px;
    }

    .second-image-container {
      width: 100%;
      height: 1000px;
      background: #FF9FB8;
      position: relative;
      overflow: hidden;
    }
    .lisa {
        width: 800px;
        height: 890px;
    }
  }

  @media (max-width: 875px) {
    .second-image-container {
      height: 600px;
    }

    .title {
      font-size: 40px;
      margin-bottom: 15px;
    }

    .description {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .second-image-container::before {
      top: -45px;
      right: -170px;
      width: 360px;
      height: 701px;
    }

    .pack {
      width: 153px;
      height: 640px;
    }
    .lisa {
        width: 500px;
        height: 550px;
    }
  }

  @media (max-width: 600px) {
    .second-image-container {
        height: 353.736px;
      }
    .second-image-container::before {
        top: 0px;
        right: -100px;
        width: 225.343px;
        height: 360.918px;
    }

    .pack {
        width: 86.141px;
        height: 390.747px;
    }
    .lisa {
        width: 300.141px;
        height: 320.747px;
        left: -10px;
    }
  
    .second-info{
        width: 90%;
        margin-bottom: 0px;
    }
  
    .title {
      font-size: 24px;
    }

    .description {
      font-size: 16px;
    }
  }

</style>
