<template>
  <div class="third">
    <div class="third-images-container">
      <img src="@/images/content/weightloss-remedy.png" alt="" class="weightloss-remedy">
      <img src="@/images/content/Lisa-3.png" alt="" class="Lisa-3">
    </div>
    <div class="third-info">
      <div class="title">Borem ipsum dolor sit amet, consectetur adipiscing elit.</div>
      <div class="description">Porem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit
        interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos.</div>
      <div class="description">Porem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit
        interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos.</div>
    </div>
  </div>
</template>
<script>
  export default {

  }

</script>
<style scoped>
  .third {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 172px 0 100px;
    gap: 35px;
    margin-bottom: 250px;
  }

  .third-images-container {
    width: 50%;
    position: relative;
  }

  .weightloss-remedy {
    width: 500px;
    height: 800px;
    position: absolute;
    left: 110px;
  }

  .Lisa-3 {
    width: 500px;
    height: 800px;
    position: absolute;
    top: 0;
    left: 220px;
  }

  .third-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    color: #3F3F3F;
    font-size: 74px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 16px;
  }

  .description {
    color: #3F3F3F;
    font-size: 37px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
  }

  @media (max-width: 1650px) {
    .third {
      padding: 0 30px 0 10px;
    }
  }


  @media (max-width: 1235px) {
    .third {
      min-height: 1500px;
      flex-direction: column;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      padding: 0 10px;
    }

    .Lisa-3 {
      width: 667px;
      height: 1003px;
      top: 0;
      left: calc(50% - 334px);
    }

    .third-images-container {
      width: 100%;
    }

    .weightloss-remedy {
      width: 680px;
      height: 1003px;
      top: -10px;
      left: calc(50% - 340px);
    }

    .third-info {
      width: 100%;
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  @media (max-width: 875px) {
    .third {
      min-height: 1000px;
      margin-bottom: 24px;
    }

    .title {
      font-size: 40px;
      margin-bottom: 15px;
    }

    .description {
      font-size: 24px;
      margin-bottom: 20px;
    }

    .weightloss-remedy {
      width: 400px;
      height: 600px;
      position: absolute;
      left: -10px;
    }

    .Lisa-3 {
      width: 400px;
      height: 600px;
      top: 0;
      left: 45px;
    }
  }

  @media (max-width: 600px) {
    .weightloss-remedy {
      width: 275.406px;
      height: 414.142px;
      position: absolute;
      left: -10px;
    }

    .Lisa-3 {
      width: 275.406px;
      height: 414.142px;
      top: -10px;
      left: 30px;
    }

    .third {
      min-height: 650px;
      margin-bottom: 24px;
    }

    .title {
      font-size: 24px;
    }

    .description {
      font-size: 16px;
    }
  }

</style>
