<template>
  <div class="footer" ref="footer">
    <div class="discount-container">
      <div class="discount">DISCOUNT</div>
      <div class="description">For the low price of ₱1.990</div>
    </div>
    <a href="https://www.google.com" target="_blank">ORDER NOW</a>
    <img src="@/images/content/weightloss-remedy.png" alt="" class="pack">
    <div class="close" @click="closeFooter">
      <img src="@/images/icons/x.svg" alt="">
    </div>
  </div>
</template>
<script>
  export default {
    methods: {
      closeFooter() {
        const footer = this.$refs.footer;

        footer.classList.add('closing');

        setTimeout(() => {
          footer.style.display = 'none';
        }, 500);
      }
    }
  }

</script>
<style scoped>
  .footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 129px;
    z-index: 100;
    background: #EE769A;

    display: flex;
    padding: 30px 309px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #CEDFEF;

  }

  .discount-container {
    display: flex;
    flex-direction: column;
  }

  .discount {
    color: #FFF;
    font-family: "Roboto-Bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }

  .description {
    color: #FF004C;
    font-family: "Roboto-Bold";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
  }

  .footer a {
    display: flex;
    width: 410px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.80) 100%);

    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-decoration: none;
    padding: 16px 0;
  }

  .footer a:hover {
    box-shadow: 3.3087px 3.3087px 3.3087px 0px rgba(0, 0, 0, 0.25) inset;
  }

  .pack {
    width: 170px;
    height: 250px;
    position: absolute;
    left: calc(50% - 85px);
  }

  .close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 182px;
    cursor: pointer;
  }

  .closing {
    animation: closeFooter 0.5s ease-out;
  }

  @keyframes closeFooter {
    0% {
      transform: translateY(0);
      opacity: 1;
    }

    100% {
      transform: translateY(100%);
      opacity: 0;
    }
  }

  @media (max-width: 1650px) {
    .footer {
      width: 100%;
      padding: 30px 80px;
    }

    .close {
      right: 30px;
    }
  }

  @media (max-width: 1235px) {
    .pack {
      display: none;
    }
  }

  @media (max-width: 1050px) {
    .discount-container {
      width: 410px;
      display: flex;
      flex-direction: column;
    }

    .footer {
      height: auto;
      z-index: 100;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }

    .close {
      right: 16px;
    }
  }

  @media (max-width: 600px) {
    .footer{
        padding: 16px;
    }
    .discount-container {
        width: 100%;
      }
    .discount {
        font-size: 16px;
      }
    
      .description {
        font-size: 18px;
      }
      .footer a {
        display: flex;
        width: 100%;
        font-size: 18px;
      }
  }
</style>
