<template>
  <div class="main-container">
    <Header />
    <Main />
    <Second />
    <Third />
    <ContactUs />
    <LogoBig />
    <Contact />
    <Footer />
  </div>
</template>

<script>
  import Header from '@/components/Header/Header.vue'
  import Main from '@/components/UI/Main.vue'
  import Second from '@/components/UI/Second.vue'
  import Third from '@/components/UI/Third.vue'
  import ContactUs from '@/components/UI/ContactUs.vue'
  import LogoBig from '@/components/UI/LogoBig.vue'
  import Contact from '@/components/UI/Contact.vue'
  import Footer from '@/components/Footer/Footer.vue'
  export default {
    name: 'IndexPage',
    components: {
      Header,
      Main,
      Second,
      Third,
      ContactUs,
      LogoBig,
      Contact,
      Footer,
    }
  }

</script>
<style scoped>
  @font-face {
    font-family: 'Hiragino Mincho Pro W6';
    src: local('Hiragino Mincho Pro W6'), url('@/fonts/Hiragino Mincho Pro/Hiragino Mincho Pro W6.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto-Bold';
    src: local('Roboto-Bold'), url('@/fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  * {
    box-sizing: border-box;
    user-select: none;
    -webkit-overflow-scrolling: touch;
    -webkit-user-select: auto;
  }

  html {
    font-size: 16px;
    -webkit-text-size-adjust: none;
    font-family: 'Hiragino Mincho Pro W6';
    font-weight: 500;
  }

  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
    height: 100vw;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  button,
  input {
    outline: none !important;
  }

  .main-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }

</style>
